-i https://pypi.org/simple
alabaster==0.7.12
argh==0.26.2
aspy.yaml==1.1.1
atomicwrites==1.2.1
attrs==18.2.0
babel==2.6.0
bleach==3.0.2
bumpversion==0.5.3
cached-property==1.5.1
certifi==2018.10.15
cfgv==1.1.0
chardet==3.0.4
coverage==4.5.2
docutils==0.14
filelock==3.0.10
flake8==3.6.0
identify==1.1.7
idna==2.7
imagesize==1.1.0
importlib-metadata==0.6
importlib-resources==1.0.2 ; python_version < '3.7'
jinja2==2.10
markupsafe==1.1.0
mccabe==0.6.1
more-itertools==4.3.0
nodeenv==1.3.3
packaging==18.0
pathtools==0.1.2
pkginfo==1.4.2
pluggy==0.8.0
pre-commit==1.12.0
py==1.7.0
pycodestyle==2.4.0
pyflakes==2.0.0
pygments==2.3.0
pyparsing==2.3.0
pytest-mock==1.10.0
pytest-runner==4.2
pytest==4.0.1
pytz==2018.7
pyyaml==3.13
readme-renderer==24.0
requests-toolbelt==0.8.0
requests==2.20.1
six==1.11.0
snowballstemmer==1.2.1
sphinx==1.8.2
sphinxcontrib-websupport==1.1.0
toml==0.10.0
tox==3.5.3
tqdm==4.28.1
twine==1.12.1
urllib3==1.24.1
virtualenv==16.1.0
watchdog==0.9.0
webencodings==0.5.1
wheel==0.32.3
